body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading{
  font-size: 30px;
}

.rating span{
  color: #f0c040;
  margin: 0.1rem;
}

.error{
  background-color: burlywood;
  color: white;
  padding: 10px;
  border: 1px solid red;
  border-radius: 10px;
}





#root{
  height: 100%;
}
.grid-container{
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-rows: 3rem 1fr 3rem;
    grid-template-columns: 1fr;
    height: 100vh;
}
header{
  grid-area: "header";
}
main{
  grid-area: "main";
}
footer{
  grid-area: "footer";
  background-color: #203040;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my_header{
  display: flex;
  justify-content: space-between;
  background-color: #203040;
  align-items: center;
  color: white;
}

.logo{
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

i{
  margin-right: 20px;
  font-size: 40px;
}

.logo:hover,i:hover{
  color: #f0c040;
}




































